body{
    padding: 5px;
}
.tabuleiro{
    width: 640px;
    height: 640px;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px;
}
.localW{
    background-color: cyan;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.localB{
    background-color: gray;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    width: 80%;
    height: 80%;
}
